 .thumbnail {background-color: #eee;}
    body {margin-top: 33px;}
    .thumbnail .caption {background-color: #ddd;}

img {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 50%;
}
.text-center{
  text-align: center;
}
.thumbnail-center{
  text-align: center;
}
